.indicator{
    position:relative;
    padding-bottom:25px;
  }
  .indicator:before, .indicator:after{
    content:'';
    position:absolute;
    background:#f00;
    height:3px;
    width:20%;
    bottom:-20%;
  }
  .indicator:before{
    left:30.75%;
    transform:rotate(-20deg);
  }
  .indicator:after{
    right:30.75%;
    transform:rotate(20deg);
  }
  tr:first-child .indicator:before, tr:first-child .indicator:after{
    bottom:-30%;
  }
  tr:first-child .indicator:before{
    left:30.4%;
    transform:rotate(-15deg);
  }
  tr:first-child .indicator:after{
    right:30.4%;
    transform:rotate(15deg);
  }
  tr:last-child .indicator{
    padding:0;
  }
  tr:last-child .indicator:before, tr:last-child .indicator:after{
    display:none;
  }

  